<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Page</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 20px;">

  {% if messages %}
    <ul style="list-style-type: none; padding: 0; margin-bottom: 20px; background-color: #dff0d8; border: 1px solid #3c763d; color: #3c763d; padding: 15px; border-radius: 4px;">
      {% for message in messages %}
      {% if 'success' in message.tags %}
        <li style="margin-bottom: 10px;">{{ message }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Create User</h2>
  <form method='post' action="{% url 'signup'%}">
    {% csrf_token%}
    {{form.as_p}}
    <button type='submit'>
        submit
    </button>

</form>

</body>
</html>







